* {
  box-sizing: border-box;
}
body {
  font-family: serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 66ch;
  padding: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 2.5rem 0 1rem;
}
ul li,
ol li {
  margin-top: 0.5rem;
}
a,
a:visited {
  color: black;
}
a:hover {
  color: dodgerblue;
}
img {
  height: auto;
  max-width: 100%;
}
pre {
  border: 1px solid lightgrey;
  overflow: auto;
}
code {
  color: orangered;
  display: inline-block;
}
pre code {
  padding: 1rem;
}
blockquote {
  border-left: 5px solid lightgrey;
  font-size: 120%;
  font-style: italic;
  margin: 2rem 0;
  padding: 1rem;
}
table {
  border-collapse: collapse;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}
tr {
  border-bottom: 1px solid lightgrey;
}
th,
td {
  padding: 0.5rem;
}
hr {
  background: lightgrey;
  border: 0;
  height: 1px;
  margin: 2rem 0;
}
input {
  padding: 10px 20px;
  margin: 2px 0;
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

#suggested-starting-word {
  font-size: 20px;
}

button {
  margin: 4px 4px;
  padding: 12px 24px;
}
